<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
        $(function() {
			  $('#foo').change( function() {
				$.getJSON('/background_process', {
				  carCompany: $("#foo").val(),
				}, function(data) {

				 console.log(data)
				 var dat=$.makeArray(data.result)
				 console.log(dat)
				 for(i=0; i<dat.length; i=i+1){

                   var o = new Option(dat[i], dat[i]);
                 $("#fooo").append(o);
                 }
				 var o = new Option("o text", "value");
                 $("#fooo").append(o);
				});
				return false;
			  });
			});
</script>




<p>If you click the "Submit" button, the form-data will be sent to a page called "/carPrice".</p>
    <form action="/carPrice",method="GET">
        <select id="foo" name="car_make"><!-- thank you, <font color='teal'>stereofrog</font> -->
        <option value="" selected="selected">choose</option>
        <option value="Maruti Suzuki">Maruti Suzuki</option>
        <option value="Chevrolet">Chevrolet</option>
        </select>
        <select id="fooo" name="car_name"><!-- thank you, <font color='teal'>stereofrog</font> -->
        <option value="" selected="selected">choose</option>
        <option value="Vitara Brezza">Vitara Brezza</option>
        <option value="Beat">Beat</option>

        </select>
        <select id="foooo" name="car_variant"><!-- thank you, <font color='teal'>stereofrog</font> -->
        <option value="" selected="selected">choose</option>
        <option value="LDI">LDI</option>
        <option value="VDI">VDI</option>
        <option value="ZDI">ZDI</option>
        <option value="LS Petrol">LS Petrol</option>
        <option value="LS Diesel">LS Diesel</option>
        </select>
    <input type="submit" value="Submit">
    </form>


<p id=result>abcd</p>
</body>
</html>
